<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.opticalix.widget_reminder"
          android:versionCode="120"
          android:versionName="1.2.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="24"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.opticalix.ReminderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.opticalix.component.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.opticalix.component.ExampleAppWidgetProvider"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="OPTICALIX.ACTION.UPDATE_WIDGET"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info"/>
        </receiver>

        <!--<receiver android:name="com.opticalix.component.BootReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity android:name="com.opticalix.component.AboutActivity"
            />
        <activity android:name="com.opticalix.component.ColorPicActivity"
            />
    </application>

</manifest>